* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
}

.mail-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sidebar {
    /* background: #cc2e2e; */
    background: #cb1e5e;
    width: 20%;
    height: 100vh;
    border: 1px solid red;
}

.mail-options {}

.mail ul {
    width: 75%;
    margin: 15% auto 0 auto;
}

.mail ul li i {
    color: #fafafa;
    font-size: 0.9em !important;
    margin-right: 15px;
}

.mail ul li {
    list-style-type: none;
    margin-bottom: 30px;
}


.mail ul li a {
    font: normal 700 1.4em "dejanire-sans", sans-serif;
    color: #fafafa;
    text-decoration: none;
}

.mail-features {
    width: 75%;
    margin-top: 25%;
}

.mail-features h3 {
    font: normal 300 1.2em "dejanire-sans", sans-serif;
    color: #fafafa;
    text-transform: capitalize;
    margin: 15% auto 0 15%;
}

.mail-features ul {
    width: 75%;
    margin: 10% auto 0 auto;
}

.mail-features ul li i {
    color: #fafafa;
    font-size: 0.9em !important;
    margin-right: 15px;
}

.mail-features ul li {
    margin-bottom: 30px;
    list-style-type: none;
}

.mail-features ul li a {
    font: normal 700 1.4em "dejanire-sans", sans-serif;
    color: #fafafa;
    text-decoration: none;
}


.profile {
    width: 50%;
    margin: 15% auto 0 auto;
}

.profile img {
    border-radius: 50px;
    width: 64px;
    height: 64px;
    border: 2px solid #b2164f;
    display: block;
    margin: 0 auto;
}

.profile p {
    color: #fafafa;
    font: normal 500 1em "dejanire-sans", sans-serif;
    text-align: center;
    margin-top: 10px;
}

.sidebar-footer {
    width: 50%;
    margin: 15% auto 0 auto;
    position: relative;
    bottom: -350px;
}


.sidebar-footer button {
    width: 100%;
    height: 40px;
    border: 2px solid #fafafa;
    color: #fafafa;
    font: normal 300 1em "dejanire-sans", sans-serif;
    background: none;
    margin-top: 15px;
    cursor: pointer;
}

/****************/



/** Calendar */

.overlay {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.overlay a {
    color: #fff;
    font: normal 100 5em "dejanire-sans", sans-serif;
    text-decoration: none;
    width: 5%;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 15px;
}

#calendar-container {
    width: 25%;
    height: auto;
    padding-bottom: 100px !important;
    background: #ffffff;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
    border-radius: 25px;
    margin: 10% auto 0 auto;
    padding: 4%;
    display: block;
}

#calendar-container h3 {
    text-align: center;
    font: normal 900 1.2em "dejanire-sans", sans-serif;
    color: #cb1e5e;
    text-transform: capitalize;
    margin-bottom: 5px;

}


#calendar-container form input[type='date'],
#calendar-container form input[type='text'] {
    border: 1px solid #e1e1e1;
    width: 99%;
    height: 40px;
    margin-top: 25px;
    outline: none;
}

#calendar-container #edit {
    margin-right: 25px !important;
}



#calendar-container form input[type='button'] {
    margin-top: 35px;
    border: 2px solid #fe176c;
    color: #fe176c;
    font: normal 100 1em "dejanire-sans", sans-serif;
    width: 47%;
    height: 50px;
    background: none;
    cursor: pointer;
}

td span {
    margin-top: 10px;
    display: block;
    float: right;
    clear: both;
    font: normal 100 0.8em "dejanire-sans", sans-serif;
}

.calendar {
    border: none;
    width: 100%;
}

.calendar button {
    background: none;
    border: none;
    font: normal 100 3em "dejanire-sans", sans-serif;
    color: #cb1e5e;
    float: right;
    margin: 25px 50px 0 0;
    cursor: pointer;
}


.month:nth-child(1) {
    border-top: none;
}

.month {
    width: 100%;
    height: 95px;
    font: normal 900 1.4em "dejanire-sans", sans-serif;
    color: #cb1e5e;
}


table {
    width: 100%;
    border: none;

}


table tr {
    font: normal 100 1em "dejanire-sans", sans-serif;
    height: 50px;
}

table th {
    margin: 50px 0;
    font: normal 500 1em "dejanire-sans", sans-serif;
    border-bottom: 1px solid rgb(239, 239, 239);
}

table tr td {
    font: normal 100 0.9em "dejanire-sans", sans-serif;
    padding: 3%;
    text-align: left;
    color: #201f1f;
    width: 5%;
    border: 1px solid rgba(239, 239, 239, 0.8);
}

table tr #selectedItem {
    background: #fe176c;
    color: #fafafa;
}


.calendar-event {
    width: 50%;
    padding: 25px 0;
    margin: 0 auto;
}

.calendar-event h3 {
    text-align: center;
    font: normal 900 1.2em "dejanire-sans", sans-serif;
    color: #cb1e5e;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.calendar-event form {
    width: 75%;
    margin: 0 auto;
}


.calendar-event form input {
    border: 1px solid #e1e1e1;
}


.calendar-event form input[type='date'] {
    width: 99%;
    height: 40px;
    outline: none;
}

.calendar-event form input[type='text'] {
    width: 99%;
    height: 40px;
    margin-top: 25px;
    outline: none;
}

#btn {
    margin-right: 30px;
    margin-left: 0px;
}



.calendar-event form input[type='button'] {
    margin-top: 35px;
    border: 2px solid #fe176c;
    color: #fe176c;
    font: normal 100 1em "dejanire-sans", sans-serif;
    width: 45%;
    height: 50px;
    background: none;
    cursor: pointer;
}


/****************/

.inbox-list {
    width: 25%;
}

.search-contacts {
    width: 100%;
    height: 35px;
    padding: 25px 0;
    background: #fafafa;
}


.search-contacts input {
    width: 75%;
    height: 35px;
    margin: 0 auto;
    display: block;
    border: 1px solid rgba(204, 204, 204, 0.7);
    color: #201f1f;
    font: normal 100 1em "dejanire-sans", sans-serif;
    padding-left: 10px;
    outline: none;
}


.search-contacts {}

.contacts {
    width: 100%;
    height: 100px;
    border: 1px solid rgba(204, 204, 204, 0.2);
    background: #fcfcfc;
    cursor: pointer;
}

.contact-image {}

.contact-image img {
    border-radius: 50px;
    width: 64px;
    height: 64px;
    border: 2px solid #b2164f;
    display: block;
    border: 1px solid red;
    float: left;
    clear: both;
    margin: 15px 0 0 10px;

}

.contacts ul {
    float: left;
    margin: 20px 0 0 15px;

}

.contacts ul li:first-child {
    font-weight: 900;
    color: #201f1f;
}

.contacts ul li {
    color: #717070;
    font: normal 100 1em "dejanire-sans", sans-serif;
    list-style-type: none;
    padding-bottom: 2px;
}

.contacts:hover {
    background: linear-gradient(rgba(239, 238, 238, 0.5), rgba(203, 30, 94, 0.1));
    /* background: rgb(203, 30, 94, 0.1); */
}

.main-content {
    background: #faf8f8fa;
    width: 75%;
}

/* Sign up and Sign in */



.signin {
    width: 25%;
    height: 400px;
    background: #ffffff;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
    border-radius: 25px;
    margin: 8% auto 0 auto;
    padding: 2%;
}


.signup {
    width: 25%;
    height: 650px;
    background: #ffffff;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
    border-radius: 25px;
    margin: 8% auto 0 auto;
    padding: 2%;
}

.signup form,
.signin form {
    margin: 5% auto 0 auto;
    width: 90%;
}

.signup h2,
.signin h2 {
    font: normal 800 2em "dejanire-sans", sans-serif;
    color: #201f1f;
    text-transform: capitalize;
    margin: 5% auto 0 auto;
    text-align: center;
}

.signup input::placeholder,
.signin input::placeholder {
    padding-left: 5px;
}

.signup input,
.signin input {
    width: 95%;
    height: 50px;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    margin-top: 25px;
}

.signup input[type='submit'],
.signin input[type='submit'] {
    width: 95%;
    height: 60px;
    border: 2px solid #cb1e5e;
    color: #cb1e5e;
    background: none;
    margin: 50px 0 25px 0;
    cursor: pointer;
}

.signup span {
    color: #201f1f;
    font: normal 200 1em "dejanire-sans", sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 75%;
    display: block;
}

.signup a {
    color: #201f1f;
    font: normal 200 1em "dejanire-sans", sans-serif;
    padding-left: 5px;
}

/* Contacts */


.contact-header {
    width: 35%;
    height: auto;
    padding-bottom: 100px !important;
    background: #ffffff;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
    border-radius: 25px;
    margin: 10% auto 0 auto;
    padding: 5%;
}



.contact-details img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 2px solid #fafafa;
    margin: 0 auto 15px auto;
    display: block !important;


}

.contact-header h2 {
    color: #201f1f;
    font: normal 900 2em "dejanire-sans", sans-serif;
    text-align: center;
}




.contact-details ul {
    width: auto;
    margin: 50px auto 0 auto;
    text-align: center;
}

.contact-details ul li {
    color: #201f1f;
    font: normal 300 1.2em "dejanire-sans", sans-serif;
    margin-bottom: 15px;
}

.contact-details p {
    line-height: 2em !important;
    color: #201f1f;
    font: normal 200 1em "dejanire-sans", sans-serif;

}

.contact-details p:first-of-type {
    color: #686868;
    font: normal 500 1.2em "dejanire-sans", sans-serif;
    text-align: center;
    width: 100%;
    margin: 0 auto 0 auto;
}

.contact-details p:last-child {
    color: #201f1f;
    font: normal 500 1.2em "dejanire-sans", sans-serif;
    text-align: center;
    width: 85%;
    margin: 50px auto 15px auto;
}

.contact-header button:first-of-type {
    margin: 0 25px 0 60px;
}


.contact-header button:first-child {
    color: #fe176c;
    font: normal 900 2em "dejanire-sans", sans-serif;
    width: 5%;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 15px;
}

.contact-header button {
    margin-top: 35px;
    border: 2px solid #fe176c;
    color: #fe176c;
    font: normal 100 1em "dejanire-sans", sans-serif;
    width: 35%;
    height: 50px;
    background: none;
    cursor: pointer;
}


/**************/

/* main window header */

.content-header {
    background: #eeeeeefa;
    width: 100%;
    height: 90px;
    padding: 2%;
}


.contact-content {}

.contact-content img {}

.contact-content h2 {
    color: #201f1f;
    font: normal 900 2em "dejanire-sans", sans-serif;
}

.message-visibility,
.message-date-visibility {
    display: none;
}

.main-content-window {
    width: 100%;
    height: 550px;
    background: #fff;
    border: 1px solid #ccc;
}


.main-content-window p:first-child {
    color: #686666;
    font: normal 300 0.9em "dejanire-sans", sans-serif;
    text-align: center;
    margin: 25px auto 75px auto;
}

.contact-content p {
    color: #201f1f;
    font: normal 200 1em "dejanire-sans", sans-serif;
}

.main-content-window p {
    color: #201f1f;
    font: normal 300 1.2em "dejanire-sans", sans-serif;
    text-align: justify;
    width: 65%;
    margin: 0 auto;
    line-height: 2em;
}


.mail-button {
    float: right;
    margin-right: 50px;
}

.mail-button button {
    background: #cb1e5e;
    border-radius: 75px;
    padding: 5px;
    color: #fafafafa;
    width: 75px;
    height: 75px;
    border: none;
    font: normal 300 2em "dejanire-sans", sans-serif;
    cursor: pointer;
    filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.2));
}


.mail-composer {
    width: 100%;
    padding-top: 25px;

}

.mail-composer form {
    width: 75%;
    height: 300px;
    margin: 0 auto;
}



.mail-composer textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px 0 0 15px;
}

.mail-composer button i {
    color: #fafafa;
    margin-right: 15px;
}

.mail-composer button {
    background: #cb1e5e;
    width: 20%;
    height: 60px;
    color: #fafafa;
    font: normal 300 1.4em "dejanire-sans", sans-serif;
    border: none;
    margin-top: 25px;
    text-transform: uppercase;
    float: right;
}

/** */


/****************/