* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

.mail-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sidebar {
    /* background: #cc2e2e; */
    background: #cb1e5e;
    width: 20%;
    height: 100vh;
    border: 1px solid red;
}

.mail-options {}

.mail ul {
    width: 75%;
    margin: 15% auto 0 auto;
}

.mail ul li i {
    color: #fafafa;
    font-size: 0.9em !important;
    margin-right: 15px;
}

.mail ul li {
    font: normal 700 1.5em "dejanire-sans", sans-serif;
    color: #fafafa;
    margin-bottom: 30px;
    cursor: pointer;
    list-style-type: none;
}

.mail-features {
    width: 75%;
    margin-top: 15%;
}

.mail-features h3 {
    font: normal 300 1.2em "dejanire-sans", sans-serif;
    color: #fafafa;
    text-transform: capitalize;
    margin: 15% auto 0 15%;
}

.mail-features ul {
    width: 75%;
    margin: 10% auto 0 auto;
}

.mail-features ul li i {
    color: #fafafa;
    font-size: 0.9em !important;
    margin-right: 15px;
}

.mail-features ul li {
    font: normal 700 1.5em "dejanire-sans", sans-serif;
    color: #fafafa;
    margin-bottom: 30px;
    cursor: pointer;
    list-style-type: none;
}


.profile {
    width: 50%;
    margin: 15% auto 0 auto;
}

.profile img {
    border-radius: 50px;
    width: 64px;
    height: 64px;
    border: 2px solid #b2164f;
    display: block;
    margin: 0 auto;
}

.profile p {
    color: #fafafa;
    font: normal 500 1em "dejanire-sans", sans-serif;
    text-align: center;
    margin-top: 10px;
}

.sidebar-footer {
    width: 50%;
    margin: 15% auto 0 auto;
    position: relative;
    bottom: -300px;
}


.sidebar-footer button {
    width: 100%;
    height: 40px;
    border: 2px solid #fafafa;
    color: #fafafa;
    font: normal 300 1em "dejanire-sans", sans-serif;
    background: none;
    margin-top: 15px;
    cursor: pointer;
}

.main-content {
    background: #faf8f8fa;
    width: 100%;
}


/* main window header */

.content-header {
    background: #eeeeeefa;
    width: 100%;
    height: 90px;
    padding: 2%;
}


.contact-content {}

.contact-content img {}

.contact-content h2 {
    color: #201f1f;
    font: normal 900 2em "dejanire-sans", sans-serif;
}



.main-content-window {
    width: 100%;
    height: 550px;
    background: #fff;
    border: 1px solid #ccc;
}


.main-content-window p:first-child {
    color: #686666;
    font: normal 300 0.9em "dejanire-sans", sans-serif;
    text-align: center;
    margin: 25px auto 75px auto;
}

.contact-content p {
    color: #201f1f;
    font: normal 200 1em "dejanire-sans", sans-serif;
}

.main-content-window p {
    color: #201f1f;
    font: normal 300 1.2em "dejanire-sans", sans-serif;
    text-align: justify;
    width: 65%;
    margin: 0 auto;
    line-height: 2em;
}


.mail-button {
    float: right;
}

.mail-composer {
    width: 100%;
    padding-top: 25px;

}

.mail-composer form {
    width: 65%;
    height: 300px;
    margin: 0 auto;
}

.mail-composer textarea::placeholder {
    padding: 10px 0 0 15px;
}

.mail-composer textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    outline: none;
}

.mail-composer button i {
    color: #fafafa;
    margin-right: 15px;
}

.mail-composer button {
    background: #cb1e5e;
    width: 20%;
    height: 60px;
    color: #fafafa;
    font: normal 300 1.4em "dejanire-sans", sans-serif;
    border: none;
    margin-top: 25px;
    text-transform: uppercase;
    float: right;
}