{%  extends 'base.j2' %}
{% block content %}
<div class="mail-container">
{% include 'sidebar.j2' %}
 <div class="calendar">
  <button>+</button>
  {{ calendar }}
 </div> 
</div>

<div class="overlay">
  <a href="">X</a>
</div>  
{% endblock %}




