

{% if request.endpoint == 'contacts' %}
<!--  inbox list  -->
  <div class="inbox-list">
   <div class="search-contacts">  
      <input type="text" name="search"  placeholder="&#128269; Search contacts">
   </div>  

  {% for contact in user['contacts'] %} 
    <div class="contacts" data-value='{{ loop.index }}'>    
      <div class="contact-image">
         <img src="/static/images/{{ contact.image }}" alt="contact image">
      </div>
       <ul>
         <li> {{  contact.name }}</li>
         <li> {{  contact.title }}</li>
         <li class='message-visibility email'>{{  contact.email }}</li>
         <li class='message-visibility telephone'>{{  contact.telephone }}</li>
         <li class='message-visibility website'>{{  contact.website }}</li>
         <li class='message-visibility notes'> {{  contact.notes }}</li>
       </ul>
     </div>
     {% endfor %}
  </div>
  <!--  end  -->
  {% elif request.endpoint == 'mailbox' %}
    <div class="search-inbox">  
       <input type="text" name="inbox-search"  placeholder="&#128269; Search inbox">
     </div>  
     {% for contact in user['contacts'] %} 
       <div class="contacts" data-value='{{ loop.index }}'>    
         <div class="contact-image">
          <img src="/static/images/{{ contact.image }}" alt="contact image">
         </div>
          <ul>
            <li> {{  contact.name }}</li>
            <li> {{  contact.title }}</li>
            <li class='message-visibility email'>{{  contact.email }}</li>
            <li class='message-visibility telephone'>{{  contact.telephone }}</li>
            <li class='message-visibility website'>{{  contact.website }}</li>
            <li class='message-visibility notes'> {{  contact.notes }}</li>
          </ul>
       </div>
       {% endfor %}
     </div>


   {% elif request.endpoint == 'mailbox_draft' %}
     <div class="search-inbox">  
       <input type="text" name="inbox-search"  placeholder="&#128269; Search inbox">
     </div>  
     {% for message, message_dates in data %} 
       {% if message.message_type == 'draft' %}
        <div class="contacts">    
          <div class="contact-image">
            <img src="/static/images/{{ user.contacts.image }}" alt="contact image">
          </div>
            <ul>
              <li> {{  message.sender }}</li>
              <li> {{  message.subject }}</li>
              <li class='message-date-visibility'> {{  message_dates  }}</li>
              <li class='message-visibility'> {{  message.message  }}</li>
            </ul>
        </div>
       {% endif %}
      {% endfor %}
   {% elif request.endpoint == 'mailbox_sent' %}
     <div class="search-inbox">  
      <input type="text" name="inbox-search"  placeholder="&#128269; Search inbox">
     </div>
    {% for message, message_dates in data %} 
      {% if message.message_type == 'sent' %}
        <div class="contacts">    
          <div class="contact-image">
            <img src="/static/images/{{ user.contacts.image }}" alt="contact image">
          </div>
            <ul>
              <li> {{  message.sender }}</li>
              <li> {{  message.subject }}</li>
              <li class='message-date-visibility'> {{  message_dates  }}</li>
              <li class='message-visibility'> {{  message.message  }}</li>
            </ul>
        </div>
        {% endif %}
      {% endfor %}
  {% endif %}
</div>