{% extends 'base.j2' %}
{% block content %}
<div class="mail-container">
    {% include 'sidebar.j2' %}
    {% include 'contact-list.j2' %}


      <div class="main-content">
        <div class="contact-header">
            <div class="contact">
              <img src="" alt="">
              <h2>Patricia Doe</h2>
              <p>Lawyer</p>
            </div>
            <div class="contact-details">
              <ul>
               <li><span>Mobile</span> +1909 555-7654</li>
               <li><span>E-mail</span> me@example.net</li>
               <li><span>Website</span> http://thisaintreal.net</li>
              </ul>
              <p>Notes</p>
              <p>
                hfgtyrrtuderyutdeyteytertyertyu5w53425347
                dfherye5ye456eu65eye42754dxsrtyxw45wttur3a
                rtye4e36e3e546ue346e365456e5353qdeturt4546
              </p>
          
            </div>
            <button>Edit</button>
            <button>Delete</button>
         </div>
         
     </div>
</div>
{% endblock %}