<div class="inbox-list">
    <div class="search-contacts">  
      <input type="text" name="search"  placeholder="&#128269; Search contacts">
    </div>

      <div class="contacts">  
          <div class="contact-image">
               <img src="" alt="contact image">
           </div>
           <ul>
               <li>Patricia Doe</li>
               <li>Help with website</li>
           </ul>
         </div>

    <div class="contacts">      
      <div class="contact-image">
           <img src="" alt="contact image">
        </div>
         <ul>
              <li>Larry Doe</li>
              <li>Conference Talk</li>
          </ul>
       </div>

    <div class="contacts">    
       <div class="contact-image">
          <img src="" alt="contact image">
       </div>
        <ul>
          <li>Betty Doe</li>
          <li>Hello</li>
        </ul>
     </div>

   </div>