{% extends 'base.j2' %}
{% block content %}
<div class="mail-container">
    {% include 'sidebar.j2' %}
    {% include 'contact-list.j2' %}


      <div class="main-content">
        <div class="contact-header">

            <div class="contact-details">
              <button id="remove">-</button>  
              <img src="" alt="">
              <h2></h2>
              <p></p>
              <ul>
               <li></li>
               <li></li>
               <li></li>
              </ul>
              <p class="note">
              </p>
          
            </div>
            <button>Edit</button>
            <button>Save</button>
         </div>
         
         <div class="mail-button">
          <button>+</button>
        </div>
     </div>
</div>
{% endblock %}