{% extends 'base.j2' %}
{% block content %}
<div class="mail-container">
    {% include 'sidebar.j2' %}
    {% include 'contact-list.j2' %}
    <div class="main-content">
    </div>    
</div>
{% endblock %}