{% extends 'base.j2' %}
{% block content %}
<div class="mail-container">
    <div class="sidebar">
        <div class="mail-options">
            <div class="profile">
                <img src="" alt="">
                <p>Paul Doe</p>
             </div>
            <div class="mail">
                <ul>
                    <li><i class="fa-solid fa-envelope"></i>Inbox</li>
                    <li><i class="fa-solid fa-envelope-circle-check"></i>Sent</li>
                    <li><i class="fa-solid fa-file"></i>Draft</li>
                </ul>
            </div>
            <div class="mail-features">
               <h3>features</h3> 
                <ul>
                    <li><i class="fa-regular fa-calendar"></i>Calendar</li>
                    <li><i class="fa-regular fa-address-card"></i>Contacts</li>
                </ul>
            </div>
        </div>
        <div class="sidebar-footer">
           <button>Logout</button>
        </div>
    </div>

    <div class="main-content">
        <div class="content-header">
           <div class="contact-content">
             <img src="" alt="">
             <h2>Patricia Doe</h2>
             <p>Lawyer</p>
           </div>
        </div>
        <div class="main-content-window">
           <p>Aug, 22 2023</p>
           <p>
            futyftyuyiyuirtyufrtufrutfrtutu
            yrtdrtyrtsyrweertuw46w4w445wyt4qw34528o5t
           </p>
           <p>  
            ertwetyw4t34634634yy345y4ey64du5tyjut5r75e
           </p>
           <div class="mail-button">
             <button>+</button>
           </div>
        </div>
        <div class="mail-composer">
           <form method="post">
              <textarea name="message" placeholder="Say something.."></textarea>
              <br><button><i class="fa-solid fa-paper-plane"></i>Send</button>
           </form>    
        </div>
    </div>
</div>

{% endblock %}