{% extends 'base.j2' %}
{% block content %}
<div class="mail-container">
    {% include 'sidebar.j2' %}

    <div class="inbox-list">
      <div class="search-contacts">  
        <input type="text" name="search"  placeholder="&#128269; Search contacts">
      </div>  
      {% for message in user['messages'] %} 
        <div class="contacts">    
          <div class="contact-image">
             <img src="" alt="contact image">
          </div>
           <ul>
             <li> {{  message.sender }}</li>
             <li> {{  message.subject }}</li>
             <li class='message-date-visibility'> {{  message.message_date  }}</li>
             <li class='message-visibility'> {{  message.message  }}</li>
           </ul>
        </div>
        {% endfor %}

      </div>


    

      <div class="main-content">
        <div class="content-header">
           <div class="contact-content">
               <img src="" alt="">
               <h2>Patricia Doe</h2>
               <p>Lawyer</p>
          </div>
       </div>

       <div class="main-content-window">
        <p>Aug, 22 2023</p>
        <p>
         futyftyuyiyuirtyufrtufrutfrtutu
         yrtdrtyrtsyrweertuw46w4w445wyt4qw34528o5t
        </p>




           <div class="mail-button">
             <button>+</button>
           </div>
        </div>
        <div class="mail-composer">
           <form method="post">
              <textarea name="message" placeholder="Say something.."></textarea>
              <br><button><i class="fa-solid fa-paper-plane"></i>Send</button>
           </form>    
        </div>
    </div>
</div>

{% endblock %}