{% extends 'base.j2' %}
{% block content %}
<div class="mail-container">
    {% include 'sidebar.j2' %}
    {% include 'contact-list.j2' %}
      <div class="main-content">
        <div class="content-header">
           <div class="contact-content">
               <img src="" alt="">
               <h2>Patricia Doe</h2>
               <p>Lawyer</p>
          </div>
       </div>

       <div class="main-content-window">
        <p></p>
        <p></p>




           <div class="mail-button">
             <button>+</button>
           </div>
        </div>
        <div class="mail-composer">
           <form method="post">
              <textarea name="message" placeholder="Say something.."></textarea>
              <br><button><i class="fa-solid fa-paper-plane"></i>Send</button>
           </form>    
        </div>
    </div>
</div>

{% endblock %}