<div class="sidebar">
    <div class="mail-options">
        <div class="profile">
            <img src="" alt="">
            <p>Paul Doe</p>
         </div>
        <div class="mail">
            <ul>
                <li><i class="fa-solid fa-envelope"></i>Inbox</li>
                <li><i class="fa-solid fa-envelope-circle-check"></i>Sent</li>
                <li><i class="fa-solid fa-file"></i>Draft</li>
            </ul>
        </div>
        <div class="mail-features">
           <h3>features</h3> 
            <ul>
                <li><i class="fa-regular fa-calendar"></i>Calendar</li>
                <li><i class="fa-regular fa-address-card"></i>Contacts</li>
            </ul>
        </div>
    </div>
    <div class="sidebar-footer">
       <button>Logout</button>
    </div>
</div>