<div class="sidebar">
    <div class="mail-options">
        <div class="profile">
            <img src="" alt="">
            <p>Paul Doe</p>
         </div>
        <div class="mail">
            <ul>
                <li><a href="{{ url_for('mailbox')}}"><i class="fa-solid fa-envelope"></i>Inbox</a></li>
                <li><a href="{{ url_for('mailbox_sent')}}"><i class="fa-solid fa-envelope-circle-check"></i>Sent</a></li>
                <li><a href="{{ url_for('mailbox_draft')}}"><i class="fa-solid fa-file"></i>Draft</a></li>
            </ul>
        </div>
        <div class="mail-features">
           <h3>features</h3> 
            <ul>
                <li><a href="{{ url_for('pigeon_calendar')}}"><i class="fa-regular fa-calendar"></i>Calendar</a></li>
                <li><a href="{{ url_for('contacts') }}"><i class="fa-regular fa-address-card"></i>Contacts</a></li>
            </ul>
        </div>
    </div>
    <div class="sidebar-footer">
       <button>Logout</button>
    </div>
</div>